*{
    margin: 0%;
    padding: 0%;
}

img{
   height: 1000px;
    width: 2000px;
}

.centrado{
    position: absolute;
    top: 320px;
    left: 760px;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to right, #ff5959,#f04b8f, #9e1460);
    
    font-size: 15rem;   
}

.music{
     font-size:4rem;
    position:absolute;
    top: 1099px;
    left: 350px;
    font-family: Arial, Helvetica, sans-serif
     
    
}

.text{
    position: absolute;
    top: 250px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 700px;
    width: 1070px;
}

button{
    background-color:#ff5656;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}
